@import '../../styles/colors';
@import '../../styles/mixins';

.user {
  position: relative;

  &-header {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    padding: 0 15px;
    border-bottom: 1px solid #e0e0e0;
  }

  &-info {
    width: 225px;
  }

  &-display-name {
    @include with-dots;

    margin: 0 0 5px 0;
    color: #b3b3b3;
  }

  &-email {
    @include with-dots;

    font-style: italic;
  }

  &-avatar {
    height: 75%;
    border-radius: 50%;
    margin-right: 10px;
  }

  &-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
  }

  &-item {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding: 0 15px;
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: #efefef;
    }

    &-avatar {
      height: 75%;
      border-radius: 50%;
      margin-right: 10px;
    }

    &-info {
      width: 225px;
    }

    &-name {
      @include with-dots;

      margin: 0 0 5px;
      color: #b3b3b3;
    }

    &-last-message {
      @include with-dots;

      margin: 0;
      color: $grey-darken;
    }
  }

  &-selected-item {
    background-color: red;

    &:hover {
      background-color: red;
    }
  }

  &-central-notify {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 20px;
    font-size: 20px;
    font-weight: bold;
    color: #b3b3b3;
  }
}

.user-search {
  &-results {
    position: absolute;
  }

  &-form {
    flex: none;
    display: flex;
    align-items: center;
    height: 56px;
    margin-top: auto;
    border-top: 1px solid #e0e0e0;
  }

  &-input {
    width: 100%;
    padding: 16px;
    border: none;
    outline: none;
    font-size: 16px;
  }
}
