.receiver-header {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  border-bottom: 1px solid #e0e0e0;
}

.user-name {
  margin: 0;
  color: #b3b3b3;
}
