@import '../../../styles/colors';
@import '../../../styles/vars';

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: $form-width;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  overflow: hidden;
  background-color: #22252a;
}

.form-tabs {
  display: flex;
}

.form-tab {
  width: 50%;
  padding: 10px 0;
  text-align: center;
  background-color: $grey-darken;
  color: $grey-lighten;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    color: #b3b3b3;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .75);
  }
}

.form-tab-active {
  background-color: transparent;
}
