@import './colors';
@import './vars';

@mixin be-btn {
  padding: 8px 50px;
  text-align: center;
  font-size: 16px;
  border: none;
  transition: all .2s ease, opacity 0s;
  border-radius: 5px;
  background-color: $grey-lighten;
  color: #fff;
  cursor: pointer;
  outline: none;

  &:disabled {
    cursor: default;
  }
}

@mixin with-dots {
  display: inline-block;
  width: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
