.message-form {
  flex: none;
  display: flex;
  align-items: center;
  height: 56px;
  border-top: 1px solid #e0e0e0;
}

.message-input {
  width: 100%;
  padding: 16px;
  border: none;
  outline: none;
  font-size: 16px;
}
