.message-form {
  flex: none;
  display: flex;
  align-items: center;
  height: 56px;
  margin-top: auto;
  border-top: 1px solid #e0e0e0;
}

.message-input {
  width: 100%;
  padding: 16px;
  border: none;
  outline: none;
  font-size: 16px;
}

.load-more-btn {
  flex: none;
}

.message-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding: 0 15px;
  outline: none;
}

// MessageItem

.message-item {
  flex: none;
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #f2f2f2;

  &:last-child {
    border-bottom: none;
  }

  &-auth-user {
    justify-content: flex-end;
  }
}

.message-img {
  width: 40px;
  height: 40px;
  border-radius: 15%;
  margin-right: 8px;

  &-auth-user {
    order: 1;
    margin-right: 0;
    margin-left: 8px;
  }
}

.message-text {
  max-width: 500px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.28;
  border-radius: 18px;
  word-break: break-all;

  &-auth-user {
    background-color: #0084ff;
    color: #fff;
  }

  &-selected-user {
    background-color: #f1f0f0;
    color: #000;
  }
}
