@import '../../styles/mixins';
@import '../../styles/colors';

.form-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: $form-width;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  overflow: hidden;
  background-color: #22252a;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.confirm-btn {
  @include be-btn;

  align-self: center;
  background-color: #2c9dd6;

  &:hover {
    background-color: #268ec3;
  }

  &:disabled {
    opacity: 0.6;

    &:hover {
      background-color: #2c9dd6;
    }
  }
}
